::-webkit-scrollbar {display:none;}
body  {
    background-color: #2C2F33;
}
h1  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: center;
}
h2  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: center;
    padding-left: 240px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 100%;
}
h3  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 240px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 115%;
}
hr { 
    display: block;
    border-color: #99AAB5;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 240px;
    margin-right: 240px;
    border-style: solid;
    border-width: 1px;
} 
a:link {
    color: #7A8890;
}
a:visited {
    color: #7A8890;
}
a:hover {
    color: red;
}
a:active {
    color: hotpink;
}
.map-title  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 270px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 115%;
}
.map-body  {
    white-space: nowrap;
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 70px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 100%;
}
.disaster_itemno  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 0px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 50%;
}
.title  {
	border-bottom: 3px solid #99AAB5;
}
iframe	  {
    width:50%;
    height:100%;
    border: 4px;
    border-color: #99AAB5;
}
/* ===============================================  TAB CODE ============== TAB CODE ================ TAB CODE ============ TAB CODE =================================================== */
/* Style the tab */
.tab {
    overflow: hidden;
	border: 3px solid #99AAB5;
	border-top: none;
    background-color: #2C2F33;
}

/* Style the buttons inside the tab */
.tab button {
	color: #99AAB5;
    background-color: inherit;
    float: left;
    border: none;
    outline: 1px solid #99AAB5;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #555;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #555;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}
/* ===============================================   FOOTER CODE ============== FOOTER CODE ================ FOOTER CODE ============ FOOTER CODE =================================================== */
#footer	{
	font-family: "Comic Sans MS";
	color: #99AAB5;
	padding-top: 250px;
	position: static;
	bottom: 0px;
}
table, th, td	{
	border-collapse: collapse;
}
table	{
	width: 100%;
}
td	{
	padding-right: 125px;
}
.caption	{
	border-bottom: 2px solid gray;
	padding-right: 240px;
}
.legalinfo	{
	padding-right: 225px;
}
.foot_body	{
	background-color: inherit;
}