body  {
    background-color: #2C2F33;
}
h1  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: center;
}
h2  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: center;
    padding-left: 240px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 100%;
}
h3  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 240px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 115%;
}
hr { 
    display: block;
    border-color: #99AAB5;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 240px;
    margin-right: 240px;
    border-style: solid;
    border-width: 1px;
} 
a:link {
    color: #7A8890;
}
a:visited {
    color: #7A8890;
}
a:hover {
    color: red;
}
a:active {
    color: hotpink;
}
.map-title  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 270px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 115%;
}
.map-body  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 70px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 100%;
}
.title  {
    padding: 5px;
    border: 14px solid #99AAB5;
}
.gbusa_resize {
  width:15%;
  height:15%;
}
.percent_resize {
  width:65%;
  height:65%;
}
.main_body  {
	text-align: center;
}
#pgupBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 115px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #44585f;
    color: #242f32;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#pgupBtn:hover {
    background-color: #555;
}
#homeBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #44585f;
    color: #242f32;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#homeBtn:hover {
    background-color: #555;
}
