body  {
    background-color: #2C2F33;
}
h1  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: center;
}
h2  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: center;
    padding-left: 240px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 100%;
}
h3  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 240px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 115%;
}
hr { 
    display: block;
    border-color: #99AAB5;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 240px;
    margin-right: 240px;
    border-style: solid;
    border-width: 1px;
} 
a:link {
    color: #7A8890;
}
a:visited {
    color: #7A8890;
}
a:hover {
    color: red;
}
a:active {
    color: hotpink;
}
.map-title  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 270px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 115%;
}
.map-body  {
    white-space: nowrap;
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 70px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 100%;
}
.disaster_itemno  {
    color: #99AAB5;
    font-family: "Comic Sans MS";
    text-align: left;
    padding-left: 0px;
    padding-bottom: 15px;
    padding-right: 240px;
    font-size: 50%;
}
.title  {
    padding: 1%;
    border: 4px solid #99AAB5;
	height: 500px;
}